.title {
  font-size: 3em;
  text-align: center;
}

body {
  font-family: Arial;
  max-width: 800px;
  margin: auto;
}

blockquote {
  font-style: italic;
}

pre {
  background: #f3f5f6;
  overflow-x: auto;
  padding: 1lh;
}

code {
  background: #f3f5f6;
}

kbd {
  border-radius: 4px;
  padding: 1px 3px;
  border: 1px solid black;
}

