.title {
  font-size: 3em;
  text-align: center;
}

body {
  font-family: Arial;
  max-width: 800px;
  margin: auto;
}

pre {
  font-family: monospace;
  background: #f3f5f6;
  overflow-x: auto;
  padding: 1lh;
}

blockquote {
  font-style: italic;
}
