**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.out
**/*.xml
**/*.snm
**/*.synctex.gz
**/*.toc
**/*-ERROR
**/.auctex-auto
Assets/bib.tex
Assets/Paper.bib

node_modules/
