*.aux
*.bbl
*.bcf*
*.blg
*fdb_latexmk
*.fls
*.log
*.nav
*.out
*.xml
*.snm
*.synctex.gz
*.toc
_region_*
*~
*.fmt
*.tmp
images/
*-tikz.pdf
template/library.bib
/programming/cpp/src/
/TAGS
/programming/cpp/.clang-format
/programming/cpp/*.cpp
/programming/cpp/cpp.org
*.bbl-SAVE-ERROR
tmp/
*.mid
*.ly
*.ps
/literature/music/lilypond.pdf
*.midi
programming/javascript/js.js
programming/shell/sh.sh
.vscode/
programming/python/py.py
software/wolfram/wl.wl
software/lean/lean.lean
software/lean/lean.xdv
